*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --colorPrimary: #3d85d1;
    --backgroundcolor: #1f1f1f;
    --seconderycolor: #141414;
    --textcolor: #9e9e9e;
    --ffPrimary: sans-serif;
}

.container{
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.btn{
    background-color: transparent;
    border: transparent 1px solid;
    border-radius: 1rem;
    padding: .5rem 1rem;
    display: inline-block;
    transition: .3s all ease-in-out;
    text-decoration: none;
}

h1, h2, h3 h4, h5, h6 {
    margin-bottom: .5rem;
}

p{
    margin-bottom: 1rem;
}

body{
    font-family: var(--ffPrimary);
    line-height: 1.5;
    background-color: var(--backgroundcolor);
}

.header_wrap{
    background-color: var(--seconderycolor);
    padding-block: 1rem;

    .header_inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        ul{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            align-items: center;
        }

        li a{
            padding: .5rem 1.5rem;
            text-decoration: none;
            color: #9e9e9e;
        }

        li a:hover{
            color: white;
        }

        .btn_primary{
            color: var(--textcolor);
            border-color: var(--textcolor) ;
            background-color: var(--seconderycolor);
        }

        .btn_primary:hover{
            background-color: var(--colorPrimary);
            color: white;
            border-color: var(--colorPrimary);
            border-radius: 5rem;
            transition: .8s ease-in-out all;
        }

        .btn_secondery{
            color: var(--textcolor);
            margin-left: .5rem;
        }

        .btn_secondery:hover{
            color: white;
            border-color: var(--colorPrimary);
            background-color: var(--colorPrimary);
            border-radius: 5rem;
            transition: .8s ease-in-out all;
        }
    }
}

.top_banner{
    position: relative;

    :hover{
        color: white;
        transition: .3s all ease-in-out;
    }

    img{
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    figcaption{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-block: 13rem;
        color: var(--textcolor);
        font-size: larger;
    }

    .btn_primary{
        color: #eeeeee;
        background-color: var(--colorPrimary);
    }

    .btn_primary:hover{
        color: white;
        background-color: color-mix(in srgb, var(--colorPrimary) , black 30%);
        border-radius: 5rem;
        transition: .8s ease-in-out all;
    }
}

.main_content{
    color: #eeeeee;
    text-align: center;
    padding-block: 2rem;
}

.second_section{
    background-color: var(--seconderycolor);
    padding-block: 2rem;
}

.section1{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    img{
        display: block;
        width: auto;
        height: 20rem;
        border-radius: 1rem;
    }

    figcaption{
        color: var(--textcolor);
        padding-right: 2rem;
    }

    :hover{
        h2{color: #2da333;
            transition: .8s ease-in-out all;
        }
        color: #eeeeee;
        transition: .8s ease-in-out all;
    }

        .btn_primary{
        color: #eeeeee;
        background-color: var(--colorPrimary);
    }

    .btn_primary:hover{
        color: white;
        background-color: color-mix(in srgb, var(--colorPrimary) , black 30%);
        border-radius: 5rem;
        transition: .8s ease-in-out all;
    }
    
 
}

.third_section{
    padding-block: 2rem;
}

.section2{
       display: flex;
       align-items: center;

    img{
        display: block;
        width: auto;
        height: 20rem;
        border-radius: 1rem;
    }

    figcaption{
        color: var(--textcolor);
        padding-left: 2rem;
    }

    :hover{
        h2{color: #d67922;
            transition: .8s ease-in-out all;
        }
        color: #eeeeee;
        transition: .8s ease-in-out all;
    }

        .btn_primary{
        color: #eeeeee;
        background-color: var(--colorPrimary);
    }

    .btn_primary:hover{
        color: white;
        background-color: color-mix(in srgb, var(--colorPrimary) , black 30%);
        border-radius: 5rem;
        transition: .8s ease-in-out all;
    }

}

.forth_section{
    background-color: var(--seconderycolor);
    padding-block: 2rem;
}

.section3{
           display: flex;
       align-items: center;
       flex-direction: row-reverse;

    img{
        display: block;
        width: auto;
        height: 20rem;
        border-radius: 1rem;
    }

    figcaption{
        color: var(--textcolor);
        padding-right: 2rem;
    }

    :hover{
        h2{color: #d62222;
            transition: .8s ease-in-out all;
        }
        color: #eeeeee;
        transition: .8s ease-in-out all;
    }

        .btn_primary{
        color: #eeeeee;
        background-color: var(--colorPrimary);
    }

    .btn_primary:hover{
        color: white;
        background-color: color-mix(in srgb, var(--colorPrimary) , black 30%);
        border-radius: 5rem;
        transition: .8s ease-in-out all;
    }

}

.fifth_section{
    padding-block: 2rem;
}

.section4{
               display: flex;
       align-items: center;

    img{
        display: block;
        width: auto;
        height: 20rem;
        border-radius: 1rem;
    }

    figcaption{
        color: var(--textcolor);
        padding-left: 2rem;
    }

    :hover{
        h2{color: #3b5ed1;
            transition: .8s ease-in-out all;
        }
        color: #eeeeee;
        transition: .8s ease-in-out all;
    }

        .btn_primary{
        color: #eeeeee;
        background-color: var(--colorPrimary);
    }

    .btn_primary:hover{
        color: white;
        background-color: color-mix(in srgb, var(--colorPrimary) , black 30%);
        border-radius: 5rem;
        transition: .8s ease-in-out all;
    }

}

.web_footer{
    background-color: var(--seconderycolor);
}

.footer_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;

    span{
        color: #eeeeee;
    }

    ul{
        display: flex;
        list-style: none;
        gap: 2rem;
    }

    li a{
        color: #9e9e9e;
    }

    a:hover{
        color: #eeeeee;
    }
}